/*@import "./codemirror.css";*/
@import "./xterm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.cs-output {
  overflow: auto;
  /* Firefox scrollbar styling */
  scrollbar-color: #8F8F8F transparent;
  scrollbar-width: thin;
}

.cs-output::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.cs-output::-webkit-scrollbar-corner {
  background: transparent;
}

.cs-output::-webkit-scrollbar-thumb {
  background: #313034;
}

.dbk-btn-wrapper {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 50;
}

.dbk-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  font-size: 14px;
  position: relative;
  bottom: 1px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: black;
  cursor: pointer;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  background: #f6f8fa;
  border: 1px solid black;
  box-shadow: 0px 2px 5px rgb(60 66 87 / 8%), 0px 1px 1px rgb(0 0 0 / 12%);
}

.dbk-terminal-wrapper {
  padding: 8px 0 2px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: absolute;
  opacity: 1;
  position: fixed;
  top: 410px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;

  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.dbk-terminal-wrapper-hidden {
  opacity: 0;
  pointer-events: none;
}

.dbk-header {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 4px 12px;
  background: white;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 7px 4px rgb(0 0 0 / 20%);
}

.dbk-header-btn {
  font-size: 14px;
  font-weight: 500;
  color: #3c4257;
  cursor: pointer;
}

.dbk-header-btn:hover {
  color: #ff6dff;
}

.dbk-terminal {
  padding-top: 6px;
  display: flex;
  flex: 1;
  backdrop-filter: blur(12px);
  background: rgba(7, 8, 28, 0.9);
  border-top: 1px solid rgb(43, 43, 43);

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
